body {
    background-color: #282c34;
}

.container {
    padding-top: 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 600px;
    color: rgba(49, 171, 201, 0.397);
  }
  
  header {
    padding: 15px;
  }
  
  footer{
    padding-top: 20px;
    font-size: 12px;
    color: rgb(209, 207, 207);
  }
  
  a{
    color: rgb(209, 207, 207);
  }

.weather {
    display: block;
    margin: 0 auto;
    padding: 35px;
    max-width: 600px;
    text-align: center;
    background-color:  rgba(49, 171, 201, 0.397);
    border: 1px solid rgb(49, 170, 201);
    border-radius: 5px;
    color: rgb(209, 207, 207);
}

form {
    display: block;
    text-align: left;
}

.col-4 {
    padding: 0;
}

.weather h1 {
    display: block;
    margin: 0 auto;
    padding: 25px 0 0 0;
    text-align: left;
    font-size: 20px;
}
.weather ul {
    margin: 0 auto;
    padding: 0;
}

.weather li{
    display: block;
    margin: 0 auto;
    padding: 0;
    text-align: left;
    list-style-type: none;
}

.weather img {
    float: left;
    padding-left: 30px;
}

.weather .degrees {
    font-size: 40px;
    line-height: 64px;
}

.weather .unit{
    font-size: 16px;
    position: relative;
    top: -17px;
}