.Container {
    display: block;
    margin: 0 auto;
    padding-top: 130px;
    max-width: 600px;
}

.Weather-forecast h1 {
    text-align: center;
    color: rgba(49, 171, 201, 0.397);
}

.Weather {
    display: block;
    margin: 0 auto;
    padding: 35px;
    max-width: 600px;
    text-align: center;
    background-color:  #31abc965;
    border: 1px solid rgb(49, 170, 201);
    border-radius: 5px;
    color: rgb(255, 255, 255);
}

form {
    display: block;
    text-align: left;
}

.Weather-forecast .col-10 {
    padding: 0  5px 0 10px;
}

.Weather-forecast .col-4 {
    padding: 0;
}

.Weather h2 {
    display: block;
    margin: 0 auto;
    padding: 25px 0 10px 0;
    text-align: left;
    font-size: 25px;
    color: rgb(255, 255, 255);
}

.Weather ul {
    margin: 0 auto;
    padding: 0;
}

.Weather li{
    display: block;
    margin: 0 auto;
    padding: 0;
    text-align: left;
    list-style-type: none;
}

.Weather .digits {
    float: left;
}

.Weather img {
    float: left;
}

.Weather .degrees {
    padding-left: 5px;
    font-size: 45px;
    line-height: 95px;
}

.Weather .unit{
    font-size: 16px;
    position: relative;
    top: -21px;
}

a {
    color: rgb(255, 255, 255);
}
