.Container {
    display: block;
    margin: 0 auto;
    padding-top: 130px;
    max-width: 600px;
}

.Weather-forecast h1 {
    text-align: center;
    color: rgba(49, 171, 201, 0.397);
}

.Weather {
    display: block;
    margin: 0 auto;
    padding: 35px;
    max-width: 600px;
    text-align: center;
    background-color:  rgba(49, 171, 201, 0.397);
    border: 1px solid rgb(49, 170, 201);
    border-radius: 5px;
    color: rgb(209, 207, 207);
}



footer{
    padding-top: 20px;
    font-size: 12px;
    color: rgb(209, 207, 207);
  }